<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">SOFT</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar nav ml-auto">
        <li><a href="#" class="nav-link">Teams</a></li>
        <li><a href="#" class="nav-link">Players</a></li>
      </ul>
    </div>
  </div>
</nav>